@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@layer components {

    html {
        scroll-behavior: smooth;
    }

    .app {
        @apply min-h-[100svh] flex flex-col text-lg font-Montserrat;
    }

    .container {
        @apply max-w-[1620px] mx-auto px-[10px];
    }

    .lessons-container {
        @apply max-w-[1320px] mx-auto px-[10px];
    }

    .inner {
        @apply flex items-center justify-between py-[20px];
    }

    .button {
        @apply max-w-[250px] flex justify-center items-center w-full p-btnPadding rounded-stdRadius text-center;
    }

    .linkButton {
        @apply max-w-[250px] w-full;
    }

    .img {
        @apply w-full h-full object-cover;
    }

    .lightBall {
        @apply absolute rounded-full blur-[150px];
    }

    .bigTitle {
        @apply text-bigTitle font-extrabold leading-bigTitle mb-[50px];
    }

    .title {
        @apply text-title font-extrabold leading-title text-center mb-[50px];
    }

    .smallTitle {
        @apply text-l font-extrabold
    }

    .minusHeaderHeight {
        min-height: calc(100svh - 100px);
    }

    .arrow {
        @apply flex justify-center items-center;
    }

    .mirroredArrow {
        scale: -1 1;
    }

    .link {
        @apply underline;
    }

    .closeButton {
        @apply absolute top-[20px] right-[20px] w-[40px] h-[40px] rounded-full bg-mainBg text-mainBgInv font-extrabold
    }

    .techIconBox {
        @apply flex justify-center items-center
    }

    .htmlIcon {
        @apply relative text-htmlColor;
    }

    .htmlIcon::after {
        @apply content-[""] absolute z-[0] top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 w-[120px] h-[120px] blur-[80px] bg-htmlColor;
    }

    .cssIcon {
        @apply relative text-cssColor;
    }

    .cssIcon::after {
        @apply content-[""] absolute z-[0] top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 w-[120px] h-[120px] blur-[80px] bg-cssColor;
    }

    .jsIcon {
        @apply relative text-jsColor;
    }

    .jsIcon::after {
        @apply content-[""] absolute z-[0] top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 w-[120px] h-[120px] blur-[80px] bg-jsColor;
    }

    .gitIconLight {
        @apply relative text-mainBgInv;
    }

    .gitIconLight::after {
        @apply content-[""] absolute z-[0] top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 w-[120px] h-[120px] blur-[80px] bg-mainBgInv;
    }

    .bluredBall {
        @apply absolute rounded-full blur-[100px];
    }

    .dot {
        @apply absolute top-[5px] left-[-40px] w-[18px] h-[18px] rounded-full border-2 border-mainBgInv;
    }

    .dotLine {
        @apply content-[""] absolute top-[22px] left-[-32px] w-[2px] bg-mainBgInv;
    }

}

@keyframes animWhatWeDo {
    45% {
        translate: 0 -87%;
    }

    50% {
        translate: 0 -87%;
    }

    95% {
        translate: 0 0;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes animSmallMove {
    50% {
        translate: 10px -20px;
        rotate: 2deg;
    }

    100% {
        translate: 0 0;
    }
}