.slick-prev,
.slick-next {
    top: 310px;
    width: 50px;
    height: 50px;
}


.slick-prev {
    left: auto;
    right: calc(50% + 10px);
}

.slick-next {
    left: calc(50% + 10px);
}

.slick-prev:before,
.slick-next:before {
    font-size: 50px;
    opacity: 0.55;
}

.slick-dots {
    bottom: -50px;
}

.slick-dots li button:before {
    font-size: 14px;
}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: white;
}